.DashBoard {
  height: 100vh;
  .main-page {
    display: flex;

    justify-content: flex-start;
    align-items: stretch;

    .sideBar {
      width: 20%;
    }
    .feed {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 1rem 1rem;
    }
    .rightBar {
      width: 30%;
    }
  }
}
