.PostCreator {
  border: 1px solid rgb(186, 184, 184);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  .post-writings {
    // border: 1px solid red;
    width: 100%;
    display: flex;
    padding: 1rem 0;
    .profile-image {
      margin-left: 10px;
    }
  }
  .post-creator-helper {
    .photo-video {
      .post-creater-icon {
        padding: 1rem 0;
      }
    }
  }

  -webkit-box-shadow: 15px 10px 5px 0px rgba(242, 239, 242, 1);
  -moz-box-shadow: 15px 10px 5px 0px rgba(242, 239, 242, 1);
  box-shadow: 15px 10px 5px 0px rgba(242, 239, 242, 1);

  .text-area {
    border: none;
    outline: none;
    resize: none;
    margin: 0 1rem;
    border-bottom: 1px solid rgb(186, 184, 184);
    width: 80%;
  }
  .post-creator-helper {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;

    width: 100%;
    .button-container {
      button {
        border: none;
        outline: none;
        background-color: green;
        color: white;
        padding: 3px 1rem;
      }
    }
  }
}
